@import "../../style/global.scss";

#PaymentFlow {
  .paySection {
    width: 80vh;
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .instructionsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    text-align: center;

    @include xs {
      height: 20vh;
    }

    @include md {
      height: 50vh;
    }
  }

  .pixSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 16px;

    span {
      margin-top: 8px;
    }
  }

  .discordButton {
    display: flex;
    justify-content: space-between;
    align-items: center;

    :first-child {
      margin-right: 10px;
    }
  }

  .supportSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    text-align: center;
  }

  .supportButton {
    margin-top: 30px;
  }

  .waitingSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .supportTitle {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
  }

  .buyTitle {
    font-family: Manrope;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
  }

  .paymentSection {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .finished {
    display: flex;
    flex-direction: column;
  }

  .inputForm {
    margin-top: 10x;
    height: 48px;
    border-radius: 8px 0px 0px 8px;
    border: 0;

    @include xs {
      width: 200px;
    }

    @include md {
      width: 325px;
    }
  }

  .inputSelect {
    height: 49px;
    width: 100%;
    font-size: 12px;
  }

  .inputSelectToggle {
    height: 49px;
    width: 5%;
    font-size: 12px;

    :first-child {
      max-width: 10px;
    }
  }

  .labelForm {
    font-size: 12px;
  }

  .labelCurrency {
    width: 70px;
    height: 49px;
    justify-content: center;
    border-radius: 0px 8px 8px 0;
    border: 0;
    background: $navy;
    font-size: 12px;
    color: $white;

    button {
      font-size: 14px;
    }
  }

  #asset_select {
    color: $white;
    background: $navy;
    font-size: 12px;
    width: 70px;
  }

  .inputCheck {
    background: $white;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: start;

    :first-child {
      font-size: 15px;
      margin: 0px 10px 0 5px;
    }
  }

  .buttonSection {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $white;
    }
  }

  .buttonPix {
    display: flex;
    justify-content: center;
    align-items: center;

    :first-child {
      margin-right: 10px;
    }
  }

}
