@import "../../style/global.scss";

#Header {
  .navbar {
    height: 45px;
    display: flex;
    align-items: center;
    transition: height 0.7ms 0.3s ease;
    margin: auto;
    padding: 0px 30px;
    list-style: none;
    li {
      cursor: pointer;
    }
  }
  .navItem {
    font-size: 12px;
    margin-right: 25px;
  }

  .navbarBrand a {
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;

    :first-child {
      margin-left: 5px;
    }
  }

  .navbarCollapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;

    @include xs {
      margin: 0;
    }
  }

  .rightOptions {
    display: flex;
    justify-content: center;
    align-items: center;

    :first-child {
      margin-right: 10px;
    }

    button {
      color: $white;
    }
  }
}
