$white: #fafafa;
$black: #1c1c1c;
$black_hover: #1c1c1c9f;
$reset_black: #000;
$box_shadown: rgb(0 0 0 / 20%);
$gray: #757574;
$grayLight: #efefef;
$gray_hover: #e8e8e8;
$gray_2: rgb(112, 122, 131);
$navy: #2e384c;
$light-bg: #f5fafd;
$green: #5bae81;
$green_hover: #429266;
$light_gray: #ededed;
$iora_navy: rgb(33, 51, 86);
$iora_degrade_1: rgba(33, 51, 86, 1);
$iora_degrade_2: rgba(38, 61, 98, 1) 35%;
$iora_degrade_3: rgba(41, 69, 106, 1) 100%;
$labelSecondColor: #2f3b51;
