$white: #fafafa;
$black: #1c1c1c;
$black_2: #1c1c1c;
$black_hover: #1c1c1c9f;
$reset_black: #000;
$box_shadown: rgb(0 0 0 / 20%);
$gray: #757574;
$gray_hover: #e8e8e8;
$gray_2: rgb(112, 122, 131);
$navy: #2E384C;
$light-bg: #F5FAFD;
$green: #5BAE81;
$light_gray: #EDEDED;
