@import "../../style/global.scss";

#Content {
  position: relative;
  min-height: 100vh;

  @include xs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $grayLight;
  }
}

#ContentWrap {
  padding-bottom: 2.5rem;
}

#Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
