@import "../../../style/global.scss";

#GrayBox {
  display: flex;
  justify-content: center;
  align-items: center;

  .paymentSection {
    height: auto;
    width: 60vh;
    display: flex;
    min-width: 50vh;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: $grayLight;
    border-radius: 8px 8px 0px 0px;
    padding: 5px 0;

    @include xs {
      width: 40vh;
      padding: 0;
      height: 50vh;
    }
  }
}
